/*
*
* @autor Vinicius Horiguchi
*@version 0.1
*/


/*========================================= Layout =========================================*/
html, body{
	height:100%;
}

body{
	overflow-x: hidden;
}

/*Imagem para background
@media (min-width: 768px) {
	body{
		background: url('../img/fundo.jpg');
		background-position: bottom;
		background-attachment: fixed;
	}
}
*/

/*---------------------Estrutura Principal da pagina---------------------*/
#tudo{
	min-height: 100%;
	position: relative;
	background-color: white;
}

#conteudo{
	height: 100%;
	padding: 60px 30px 205px 30px;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 2px 0px 10px 0px;
	color: white;
	background-color: #2a6496;
}


@media(max-width: 768px){
	#conteudo{
		margin: 0px;
		padding: 60px 5px 205px 5px;
	}
}

/*--------------------------------Navbar--------------------------------*/
/*nav.navbar-transparente{
	background: rgba(245, 245, 245, 0.7);
	border: none;
}*/

.navbar-brand{
	padding: 10px;
}

/*Icone da navbar*/
#imgbrand{
	height: 35px;
}

/* Link da navbar*/
/*
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover{
	color: #5bc0de;
}

@media(max-width: 768px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
		color: black;
	}
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
		color: #5bc0de;
}
*/

.divisor{
	width: 1px;
	height: 16px;
	background: rgb(119, 119, 119);
	margin: 16px 10px;
}

/*--------------------------------Rodapé--------------------------------*/
a.link-rodape:link, a.link-rodape:visited{
	color: #fff;
	text-decoration: none;
}

a.link-rodape:hover, a.link-rodape:active{
	color: #000;
	text-decoration: underline;
}

.button-topo{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #2a6496;
	text-align: center;
	padding-top: 3px;
	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 25px;
	right: 35px;
}
/*--------------------------------Tabelas--------------------------------*/
.tabela{
	text-align: center;
}

.tabela-titulo{
	text-align: center;
}

.tabela-nome-coluna{
	text-align: center;
}

.marge-tabela{
	margin-top: 10px;
	margin-bottom: 10px;
}

#icone-tabela{
	float: right;
	padding: 3px;
}

/*--------------------------------Grafico--------------------------------*/

.marge-grafico{
	margin-top: 15px;
}

/*--------------------------------Imprimir--------------------------------*/

@media print{
    .area-grafico, .area-tabela{ 
    	page-break-inside: avoid; 
    }
}

/*--------------------------------Home--------------------------------*/

#grupo-info{
	margin: 20px 0px 20px 0px;
}

#img-grupo{
	max-height: 400px;
}

/*========================================= Tipografia =========================================*/

/*--------------------------------Rodapé--------------------------------*/
.rodape-topo{
	font-size: 20px;
}

/*--------------------------------Rodapé--------------------------------*/
#icone-tabela{
	font-size: 10px;
}