html, body {
	margin:0;
	padding:0;
	height:100%;
}

#tudo{
	min-height: 100%;
	position: relative;
}

#topo{
	padding: 10px;
}

#conteudo{
	padding: 10px;
	padding-top: 60px;
	padding-bottom: 40px;
}

#rodape {
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: rgb(48,48,48);
}

#corpo{	
}

#brand{
	color: #fff;
}
