html, body {
	height:100%;
}

/* Estrutura Principal da pagina*/
#tudo{
	min-height: 100%;
	position: relative;
}

#conteudo{
	padding-top: 60px;
	padding-bottom: 175px;
}

footer{
	position: absolute;
	height: 150px;
	width: 100%;
	bottom: 0px;
	padding-top: 10px;
	text-align: center;
	color: #eee;
	background-color: #222;
}

/*Navbar*/
#barnav{
	color: #ffffff;
}

/*Tabelas*/
.tabela{
	text-align: center;
}

.tabela-titulo{
	text-align: center;
}

.tabela-nome-coluna{
	text-align: center;
}

.marge-tabela{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*a hef e-mail*/
a.email-rodape:link, a.email-rodape:visited{
	color: #eee;
	text-decoration: none;
}

a.email-rodape:hover, a.email-rodape:active{
	color: #fff;
	text-decoration: underline;
}