/*
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		line-height: 1.75em;
		font-size: 11pt;
		letter-spacing: 0;
	}

	body
	{
		padding-top: 44px;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
	}

	section,
	article
	{
		clear: both;
		margin: 2em 0 2em 0 ;
	}

	section > :first-child,
	article > :first-child
	{
		margin-top: 0 !important;
	}

	section:first-child,
	article:first-child
	{
		margin-top: 0 !important;
	}

	.container
	{
		padding: 0em 1em;
	}
	
	.button
	{
		display: block;
		width: 100%;
		text-align: center;
	}

	header
	{
	}
	
		header h2
		{
			font-size: 1.6em;
		}

		header .byline
		{
			font-size: 1em;
		}
	
/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

	#titleBar
	{
		background-color: white ;
	}

		#titleBar .title
		{
			display: block;
			color: #fff;
			text-align: center;
			line-height: 44px;
		}

		#titleBar .toggle
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 80px;
			height: 60px;
		}

			#titleBar .toggle:after
			{
				content: '';
				display: block;
				width: 20px;
				height: 12px;
				position: absolute;
				left: 10px;
				top: 15px;
				background: url('images/toggle.svg') 0px 0px no-repeat;
				opacity: 0.5;
			}

			#titleBar .toggle:active:after
			{
				opacity: 0.75;
			}

	#navPanel
	{
		background: #ffffff repeat;
		
	}
		#navPanel .nav_mobile{
			padding-left: 30px;
		}

		#navPanel .link
		{
			display: block;
			color: #888;
			text-decoration: none;
			height: 44px;
			line-height: 44px;
			border-top: solid 1px rgba(255,255,255,0.1);
			text-transform: uppercase;
			padding: 0 1em 0 1em;
		}
			
			#navPanel .link:first-child
			{
				border-top: 0;
			}
			
			#navPanel .link.depth-0
			{
				color: #008cb2;
			}
			#navPanel .link .try
			{
				padding-left: 30px;
			}



			#navPanel .indent-1 { display: inline-block; width: 1em; }
			#navPanel .indent-2 { display: inline-block; width: 2em; padding-left: 30px}
			#navPanel .indent-3 { display: inline-block; width: 3em; }
			#navPanel .indent-4 { display: inline-block; width: 4em; }
			#navPanel .indent-5 { display: inline-block; width: 5em; }
			#navPanel .depth-0 { color: #008cb2; }
			
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		display: none;
	}

	#logo
	{
		display: none;
	}
	
	#nav
	{
		display: none;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 6em 0em;
	}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 2em 0em 2em 0em;
	}

	#main
	{
		margin-top: 3em;
		padding-top: 0em;
		border-top: none;
	}

	
	.homepage #main
	{
		margin-top: 3em;
		padding-top: 3em;
	}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 0em 0em 2em 0em;
	}
	
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		position: relative;
		padding: 4em 0em 2em 0em;
	}
	
	#featured .divider
	{
		padding: 2em 0em 0em 0em;
	}
	
	#featured .left
	{
		float: none;
		width: 100%;
	}
/*********************************************************************************/
/* Logo                                                                      */
/*********************************************************************************/
	#logo
	{
		display: none;
	}
	#sliderhome
	{
		display: none !important;
	}
	#banner_mobile
	{
		display: inherit !important;
		max-height: 100%;
	}
	#exem
	{
		width: 90%;
	}
	.nav_mobile
	{
		display: inline !important;
	}
	#marketingdesktop
	{
		display: none;
	}
	#marketingmobile
	{
		display: inherit;
	}
	#navPanel .link .depth-0 .try{
		padding-left: 30px;
	}
	a .link.depth-O.nav_mobile{
		padding-left: 30px;
	}
	.inputs{
		background-color: white;
		margin-left: 5%;
		margin-right: 5%;
		color: black;
		text-align: center;
		border-width: 1px 1px 0 1px;
		border-style: solid;
		border-color: black;

	}
	.gastosantes{
		border-width: 0 1px 0 1px;
		border-style: solid;
		border-color: black;
		background-color:#f1e89d;
		margin-left: 5%;
		margin-right: 5%;
		color: black;
		height: 180px;
	}
	.gastosdepois{
		border-width: 0 1px 0 1px;
		border-style: solid;
		border-color: black;
		background-color:#9292f8;
		margin-left: 5%;
		margin-right: 5%;
		color: black;
		height: 180px;
	}
	.economia{
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: black;
		background-color: #c2cf8a;
		margin-left: 5%;
		margin-right: 5%;
		color: black;
	}
	#equip
	{
		width: 100%;
		
	}
	#mobilecontato
	{
		text-align: center;
	}
	.linhamenor{
		max-width: 90%;
	}